@model EducationSystem.Models.Entities.SchoolFeeStructure
@{
    ViewBag.ModalName = "fee";
}
<div class="page-title">
    <div class="title-env">
        <h1 class="title">class</h1>
        <p class="description">The Class detail can modify here</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fee Structure</h3>

                <div class="panel-options">
                    <a href="javascript:;" id="fee-modal-btn" class="btn btn-single btn-sm">Update Fee</a>
                </div>
            </div>
            <div class="panel-body">
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $("#example-2").dataTable({
                            aLengthMenu: [
                                [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
                            ]
                        });
                    });
                </script>

                <table class="table table-bordered table-striped" id="example-2">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>Fee Type</td>
                            <td>Fee Amount</td>
                        </tr>
                    </thead>
                    <tbody class="middle-align">
                        
                        <tr>
                            <td>1</td>
                            <td>Admission Fee</td>
                            <td>@Model.AdmissionFee</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Examination Fee</td>
                            <td>@Model.ExaminationFee</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Other charges</td>
                            <td>@Model.OtherCharges</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
