@model IEnumerable<EducationSystem.Models.Entities.Exam>
@{
    ViewBag.ModalName = "exam";
}
<div class="page-title">
	<div class="title-env">
		<h1 class="title">exam</h1>
		<p class="description">The exam detail can modify here</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Exam list</h3>
				<div class="panel-options">
					<a href="javascript:;" id="exam-modal-btn" class="btn btn-single btn-sm">Add exam</a>
				</div>
			</div>
			<div class="panel-body">		
				<script type="text/javascript">
				jQuery(document).ready(function($)
				{
				    $("#example-2").dataTable({
				        aLengthMenu: [
                            [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
				        ]
				    });
				});
				</script>	
				<table class="table table-bordered table-striped" id="example-2">
					<thead>
						<tr>
							<th>#</th>
                            <th>Name</th>
							<th>Date</th>
                        	<th>Actions</th>
						</tr>
					</thead>
								
					<tbody class="middle-align">
                        @{
                            int count = 1;
                        } 
						@foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m =>count)
                                    @{
                                        count++;
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(m =>item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.date)
                                </td>
                                <td>
								    <div class="col-sm-10">
									    <select class="form-control exam-action-type" id="@Html.DisplayFor(m => item.exam_id)">
										    <option value="">Action</option>
										    <option value="edit">Edit</option>
										    <option value="delete">Delete</option>
									    </select>
								    </div>
                                </td>
                            </tr>
                        }	
					</tbody>
				</table>					
			</div>
		</div>
	</div>
</div>
