
<div class="page-title">
    <div class="title-env">
        <h1 class="title">Students</h1>
        <p class="description">Student details</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="panel-title">Student list</h3>
            </div>
            <div class="col-sm-4">
                <a href="javascript:;" id="student-modal-btn" class="btn ">Add Student</a>
                <a href="javascript:;" id="tn" class="btn">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="table-format-default" class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Classes Start Date</th>
                    <th>Classes End Date </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>1</td>
                        <td>000-212-12</td>
                        <td>September, 2015</td>
                        <td>Otober, 2016</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
