@model IEnumerable<EducationSystem.Models.Entities.School>
@{
    ViewBag.ModalName = "school";
}
<div class="page-title">
	<div class="title-env">
		<h1 class="title">School</h1>
		<p class="description">The school detail can modify here</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">school list</h3>
							
				<div class="panel-options">
					<a href="javascript:;" onclick="jQuery('#teacher-detail-modal').modal('show', {backdrop: 'static'});" class="btn btn-primary btn-single btn-sm">add School</a>
				</div>
			</div>
			<div class="panel-body">
							
				<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					$("#example-2").dataTable({
						dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
						aoColumns: [
							{bSortable: false},
							null,
							null,
							null,
							null
						],
					});
								
					// Replace checkboxes when they appear
					var $state = $("#example-2 thead input[type='checkbox']");
								
					$("#example-2").on('draw.dt', function()
					{
						cbr_replace();
									
						$state.trigger('change');
					});
					// Script to select all checkboxes
					$state.on('change', function(ev)
					{
						var $chcks = $("#example-2 tbody input[type='checkbox']");
									
						if($state.is(':checked'))
						{
							$chcks.prop('checked', true).trigger('change');
						}
						else
						{
							$chcks.prop('checked', false).trigger('change');
						}
					});
				});
				</script>
							
				<table class="table table-bordered table-striped" id="example-2">
					<thead>
						<tr>
							<th class="no-sorting">
								<input type="checkbox" class="cbr">
							</th>
							<th>School Name</th>
							<th>Location</th>
							<th>Phone</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="middle-align">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
								    <input type="checkbox" class="cbr">
							    </td>
                                <td>
                                    @Html.DisplayFor(m => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.city_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.phone)
                                </td>
                                <td>
								    <div class="col-sm-10">
									    <select class="form-control school-action-type" id="@Html.DisplayFor(m => item.id)">
										    <option value="">Action</option>
										    <option value="edit">Edit</option>
										    <option value="delete">Delete</option>
									    </select>
								    </div>
                                </td>
                            </tr>
                        }			
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
